---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="noitaのblog"
	/*検索結果に表示される説明文*/
	pubDate={new Date()}
>
	<p>
		筑波大学理工学群応用理工学類3年
		<br>
		email:noita.anpanman@gmail.com
		<br>
		光物性に興味があります！！！		
	</p>

</Layout>
